<h2 class="section-header">Pizze</h2>

<section>
    {{#link-to "pizzas.add" class="button"}}Dodaj pizzę{{/link-to}}
    <div class="grid">
        {{#each this.model as |pizza|}}         
                <Pizza-Display @pizza={{pizza}} />
        {{/each}}
    </div>
</section>