<h2 class="section-header">Pizzerie</h2>

<section class="section">
    {{#link-to "pizzerias.add" class="button"}}Dodaj pizzerię{{/link-to}}
    <div class="card-list">
        {{#each this.model as |pizzeria|}}
            <div class="card">
                {{#link-to "pizzerias.show" pizzeria}}
                    <Pizzeria-Display @pizzeria={{pizzeria}} />
                {{/link-to}}
                <Delete-Button @record={{pizzeria}}/>
            </div>
        {{/each}}
    </div>
</section>