<h2 class="section-header">Pizzerie</h2>

<section>
    {{#link-to "pizzerias.add" class="button"}}Dodaj pizzerię{{/link-to}}
    <div class="grid">
        {{#each this.model as |pizzeria|}}
            <Pizzeria-Display @pizzeria={{pizzeria}} />
        {{/each}}
    </div>
</section>