<nav class="nav">
    <h1 class="main-header">Pizzeria Manager</h1>
    <div class="nav-buttons">
        {{#link-to "pizzerias" class="button"}}Pizzerie{{/link-to}}
        {{#link-to "pizzas" class="button"}}Pizze{{/link-to}}
    </div>
</nav>
{{outlet}}